<!-- for the user to view their own surveys if they are logged in. If not logged in, then an anonymous user can view the list of surveys to do. -->
<!-- list of surveys -->
<div class="container">
    <div id="survey-list-box">
        <h1>
            <% if(displayName && surveys.length==0) { %>
                <h1> Welcome
                    <%= displayName %>! <br>Error 404: Surveys not found. Maybe it's time to create one?</h1>
                <br>
                <a href="/surveys/create" id="addASurveyBtn" class="btn btn-default" role="button">
                    <i class="fas fa-plus-circle"></i> Create a Survey!</a>
                <%} else if (displayName && surveys.length> 0) { %>
                    <h1> Welcome
                        <%= displayName %>! Here is a list of your surveys!</h1>
                    <br>
                    <a href="/surveys/create" id="addASurveyBtn" class="btn btn-default" role="button">
                        <i class="fas fa-plus-circle"></i> Add a Survey!</a>
                    <% } else { %>
                        Here are some available surveys!
                        <% } %>
        </h1>


        <div class="row">
            <div class="col">
                <table id="tableHeaderSurveyList" class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" class="text-center" onclick="sortTable(0)">Survey #</th>
                            <% if(!displayName) { %>

                                <th scope="col" class="text-center col-1">Author</th>
                                <th scope="col" class="text-center col-1" onclick="sortTable(3)">Title</th>
                                <th scope="col" class="text-center col-1">Format</th>
                                <th scope="col" class="text-center col-1">Created (yyyy-mm-dd)</th>
                                <th scope="col" class="text-center col-1" onclick="sortTable(4)">Active on (yyyy-mm-dd)</th>
                                <th scope="col" class="text-center col-1" onclick="sortTable(5)">Expiring on(yyyy-mm-dd)</th>
                                <th scope="col" class="text-center col-1" onclick="sortTable(6)">Number of Questions</th>
                                <th scope="col" class="text-center col-1" onclick="sortTable(7)">Time to complete (approx.)</th>
                                <th scope="col" class="text-center col-1"># of people who completed this survey</th>
                                <th></th>


                                <% } else { %>
                                    <!-- <Style>
                                        #survey-list-box td:nth-of-type(1):before {
                                            display: none;
                                            content: "Author ";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(1):before {
                                            display: block;
                                            content: "Title ";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(2):before {
                                            display: block;
                                            content: "Format";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(3):before {
                                            content: "Created (yyyy-mm-dd)";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(4):before {
                                            content: "Active on (yyyy-mm-dd)";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(5):before {
                                            content: "Expiring on (yyyy-mm-dd)";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(6):before {
                                            content: "Number of Questions";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(7):before {
                                            content: "Time to Complete (approx.)";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(8):before {
                                            content: "# of people who completed this survey";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(9):before {
                                            content: "";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(10):before {
                                            content: "";
                                        }
                                        
                                        #survey-list-box td:nth-of-type(11):before {
                                            content: "";
                                        }
                                    </Style> -->
                                    <th class="LogIn" scope="col" class="text-center col-1" onclick="sortTable(3)">Title</th>
                                    <th scope="col" class="text-center col-1">Format</th>
                                    <th scope="col" class="text-center col-1">Created (yyyy-mm-dd)</th>
                                    <th scope="col" class="text-center col-1" onclick="sortTable(4)">Active on (yyyy-mm-dd)</th>
                                    <th scope="col" class="text-center col-1" onclick="sortTable(5)">Expiring on (yyyy-mm-dd)</th>
                                    <th scope="col" class="text-center col-1" onclick="sortTable(6)">Number of Questions </th>
                                    <th scope="col" class="text-center col-1" onclick="sortTable(7)">Time to complete (approx.)</th>
                                    <th scope="col" class="text-center col-1"># of people who completed this survey</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                    <% } %>
                        </tr>
                    </thead>
                    <tbody id="surveyList">

                        <%format = ''%>
                            <% for(let count=0; count < surveys.length; count++) { %>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <%= count + 1 %>
                                    </th>
                                    <% if(!displayName) { %>
                                        <td scope="row" class="text-center">
                                            <%= surveys[count].createdBy %>
                                        </td>
                                        <% } %>

                                            <td scope="row" class="text-center">
                                                <%= surveys[count].title %>
                                            </td>
                                            <td scope="row" class="text-center">
                                                <%=surveys[count].template %>
                                            </td>
                                            <td scope="row" class="text-center">
                                                <%= surveys[count].createdOn.toISOString().split('T')[0] %>
                                            </td>
                                            <td scope="row" class="text-center activeDate">
                                                <%= surveys[count].active %>
                                            </td>
                                            <td scope="row" class="text-center expiryDate">
                                                <%= surveys[count].expiry %>
                                            </td>
                                            <td scope="row" class="text-center">
                                                <%= surveys[count].questions.length %>
                                            </td>
                                            <td scope="row" class="text-center">
                                                <%= Math.ceil(1.5 * surveys[count].questions.length) %> min
                                            </td>
                                            <td scope="row" class="text-center">
                                                <%= surveys[count].attempts %>
                                            </td>
                                            <% if(displayName) { %>

                                                <td class="text-center col-1">
                                                    <a id="<%=surveys[count]._id%>" class="btn btn-default editBtn" onClick="confirmEdit(this.id)">
                                                        <i class="fas fa-pencil-alt"></i> Edit</a>
                                                </td>
                                                <td class="text-center col-1">
                                                    <a id="<%=surveys[count]._id%>" class="btn btn-default deleteBtn" class="deleteBtn" onClick="confirmDelete(this.id)">
                                                        <i class="fas fa-trash-alt"></i> Delete</a>
                                                </td>
                                                <td class="text-center col-2">
                                                    <a id="viewSurveyStatsBtn" href="/surveys/stats/<%= surveys[count]._id %>" class="btn btn-default">
                                                        <i class="fa-solid fa-database"></i> View Survey Stats</a>
                                                </td>
                                                <% } else if(!displayName && (new Date(surveys[count].active) > new Date())) { %>
                                                    <td class="text-center col-1">
                                                        <a id="startASurveyBtn" href="javascript: void(0)" class="btn btn-success btn-sm surveyStart">
                                                            <i class="fas fa-pencil-alt"></i> Start Survey!</a>
                                                    </td>
                                                    <% } else if(!displayName && (new Date(surveys[count].expiry) < new Date())) { %>
                                                        <td class="text-center col-1">
                                                            <a id="startASurveyBtn" href="javascript: void(0)" class="btn btn-success btn-sm surveyStart">
                                                                <i class="fas fa-pencil-alt"></i> Start Survey!</a>
                                                        </td>
                                                        <% } else { %>
                                                            <td class="text-center col-1">
                                                                <a id="startASurveyBtn" href="/surveys/view/<%= surveys[count]._id %>" class="btn btn-success btn-sm surveyStart">
                                                                    <i class="fas fa-pencil-alt"></i> Start Survey!</a>
                                                            </td>
                                                            <%  }%>
                                                                <% } %>
                                </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>