<form id="mainSurvey" method="POST">
    <div>
        <input type="hidden" class="form-control" name="createdBy" value="<%= survey.createdBy %>">
        <input type="hidden" class="form-control" name="surveyID" value="<%= survey._id %>">
        <input type="hidden" class="form-control" name="createdOn" value="<%= survey.createdOn %>">
        <input type="hidden" class="form-control" name="expiringOn"
            value="<%= survey.expiry %>">
        <label>Survey Title:</label>
        <input class="form-control" type="text" name="surveyTitle" value="<%= survey.title %>" readonly>
        <label>Your name:</label>
        <input class="form-control" type="text" name="surveyorName" required>
        <label>Your email:</label>
        <input class="form-control" type="email" name="surveyorEmail" required>
        <% for(let count=0; count < survey.questions.length; count++) { %>
        <br><label>Question <%= count + 1 %></label><input type="text" class="form-control" readonly
            name="ques" value="<%= survey.questions[count] %>">
        <% for(let j=0; j < survey.options[count].length; j++) { %>
        <input type="radio" name="choices<%= count+1 %>" value="<%= survey.options[count][j] %>"
            required><%= survey.options[count][j] %><br>
        <% } %>
        <% } %>
    </div>
    <br>
    <button class="btn btn-success" type="submit" id="submitSurvey"><i class="fas fa-check"></i> Submit</button>

    <button type="button" id="cancelButton" class="btn btn-danger">Cancel</button>

    <button class="btn btn-warning" type="reset"><i class="fas fa-undo"></i> Reset survey</button>
</form>
<script src="/content/scripts/mainSurvey.js"></script>
