<!-- Page where a user can update their profile -->
<div class="mainDiv">
    <h1>Now editing details for  <%= user.displayName %> </h1>
    <br>
    <div id="formUpdate">
        <form id="updateForm" method="POST">
            <input type="hidden" name="id" value="<%= user._id %>" >
            <label>User Name:</label>
            <input type="text" class="form-control" id="username" name="userName" required value="<%= user.username %>" placeholder="Username">
            <input type="hidden" name="displayName" readonly value="<%= user.displayName %>" placeholder="Display Name">
            <br><br>
            <label>Email:</label>
            <input type="email" class="form-control"  id="emailAddress" name="email" required value="<%= user.address %>" placeholder="Email">
            <br><br>
            <label>Date of Birth:</label>
            <input type="date" class="form-control" id="dateOfBirth" value="<%= user.DOB %>" name="dob">
            <br><br>
            <a class="btn btn-primary btn-sm" href="/password/<%= user._id %>">Change password</a>
            <br><br>
            <button id="saveDetails" class="btn btn-outline-info" type="submit">Submit</button>
            <a href="/home" class="btn btn-outline-warning">Cancel update</a>
        </form>
    </div>
</div>
